<phpunit bootstrap="tests/bootstrap.php" backupGlobals="false"
        colors="true" convertErrorsToExceptions="true"
        convertNoticesToExceptions="true" convertWarningsToExceptions="true">
        <testsuites>
                <testsuite name="husky-block test">
                        <file>tests/test-husky-block.php</file>
                        <file>tests/test-ajax-request.php</file>
                        <file>tests/test-Ajax.php</file>
                        <file>tests/test-ShortcodeRendering.php</file>
                        <file>tests/test-ShortcodeAssembling.php</file>
                        <file>tests/test-HuskyFront.php</file>
                        <file>tests/test-HuskySimulation.php</file>
                        <file>tests/test-WOOFShortcode.php</file>
                        <file>tests/test-WOOFSimulation.php</file>
                </testsuite>
        </testsuites>
        <groups>
                <exclude>
                        <group>ajax</group>
                </exclude>
        </groups>
          
</phpunit>
